@font-face {
    font-family: glitten;
    src: url("../assets/fonts/GLITTEN\ ALL\ CAPS.ttf");/* IE */
    src: local('glitten'), url('../assets/fonts/GLITTEN\ ALL\ CAPS.ttf') format('truetype');/* others */
}

@font-face {
    font-family: megante;
    src: url("../assets/fonts/Meganté-Personal-Use.ttf");/* IE */
    src: local('megante'), url('../assets/fonts/Meganté-Personal-Use.ttf') format('truetype');/* others */
}

#ed1{
    font-family: 'glitten';
    font-size: 25px;
}

/* h1{
    position: relative;
    top: 70px;
    left: 20px;
    font-family: 'glitten';
    font-size: 40px;
    display: inline;
} */

.about{
    /* top: 10vh; */
    height: 100vh;
    width: 100%;
}

.about-text{
    /* background-color: white;
    opacity: 0.4; */
    position: relative;
    float: left;
    color: white;
    border: solid;
    font-size: 25px;
    font-family: 'glitten';
    border-width: 1.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: white;
    width: 50%;
    left: 20px;
    top: 90px;
}

.education{
    position: relative;
    width: 45%;
    float: right;
    top: 10vh;
    right: 25px;
    border: solid;
    border-width: 1px;
    border-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}