@font-face {
    font-family: glitten;
    src: url("../assets/fonts/GLITTEN\ ALL\ CAPS.ttf");/* IE */
    src: local('glitten'), url('../assets/fonts/GLITTEN\ ALL\ CAPS.ttf') format('truetype');/* others */
}

@font-face {
    font-family: megante;
    src: url("../assets/fonts/Meganté-Personal-Use.ttf");/* IE */
    src: local('megante'), url('../assets/fonts/Meganté-Personal-Use.ttf') format('truetype');/* others */
}

h1{
    position: relative;
    top: 30px;
    left: 60px;
    font-family: 'glitten';
    font-size: 40px;
    display: inline;
}

.about{
    color: white;
    height: 100vh;
}

.about-text{
    /* background-color: white;
    opacity: 0.4; */
    border: solid;
    font-size: 22px;
    font-family: 'glitten';
    border-width: 1.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: white;
    width: 30%;
    position: relative;
    left: 60px;
    top: 50px;
}