@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto+Mono&display=swap');

body{
    background-color: black;
}

img{
    height: 300px;
    width: 200px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
