@font-face {
    font-family: glitten;
    src: url("../assets/fonts/GLITTEN\ ALL\ CAPS.ttf");
    /* IE */
    src: local('glitten'), url('../assets/fonts/GLITTEN\ ALL\ CAPS.ttf') format('truetype');
    /* others */
}

@font-face {
    font-family: megante;
    src: url("../assets/fonts/Meganté-Personal-Use.ttf");
    /* IE */
    src: local('megante'), url('../assets/fonts/Meganté-Personal-Use.ttf') format('truetype');
    /* others */
}

* {
    /* outline: 1px solid red;
    outline-offset: -1px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    margin: 0 0 0 0;
    background-color: black;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'glitten';
    font-size: 40px;
}

a:visited {
    text-decoration: none;
    color: white;
    font-family: 'glitten';
    font-size: 40px;
}

ul {
    list-style: none;
    color: white;
}

li {
    display: inline;
    margin: 15px;
}

nav {
    padding-top: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

p {
    color: white;
}

.landing {
    height: 100vh;
}

.introtext {
    position: relative;
    top: 220px;
    text-align: center;
    font-size: 75px;
    margin: auto;
    width: 50%;
}

.navele {
    font-size: 25px;
    font-family: 'glitten';
    text-align: center;
    position: relative;
    margin: auto;
}

.info {
    position: relative;
    top: 61vh;
    width: 40%;
    margin: auto;
    text-align: center;
}

#logo {
    margin-left: 25px;
}

#navbar {
    float: right;
    margin-top: 0px;
    margin-right: 30px;
}

#intro1 {
    text-align: center;
    margin: 0 0 0 0;
}

#intro2 {
    display: inline-block;
    position: relative;
    font-family: 'glitten';
    margin: 0 0 0 0;
    text-align: center;
    font-size: 20px;
}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1290px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .info {
        position: relative;
        top:  48vh;
        width: 40%;
        margin: auto;
        text-align: center;
    }

}
